.flex {
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 2rem 5rem;
}
  
.heading-primary {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.heading-secondary-no-margin {
  font-size: 3rem;
}

.heading-tetriary {
  font-size: 2.2rem;
  line-height: 1.1;
  margin-bottom: 0.6rem;
}

.currencies, .free {
  position: absolute;
  border-radius: 9px;
  border: 2px solid #666;
  font-size: 2.4rem;
  padding: 0.6rem 1.2rem;
  right: 5rem;
  top: 14rem;
}

.etf-summary {
  padding: 1.6rem;
  border: 2px solid #666;
  border-radius: 9px;
  width: 35%;
}

.buy-panel {
  background-color: #eee;
  border: 1px solid #bbb;
  padding: 8px;
  border-radius: 9px;
  font-size: 20px;
  margin-bottom: 40px;
}

.buy-panel label {
  margin-right: 30px;
}

.buy-panel input, .buy-panel select {
  margin-left: 10px;
}

.buy-panel button {
  background-color: #e67e22;
  color: white;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.interval-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.interval-btns button {
  background-color: #e67e22;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}