.flex {
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 2rem 5rem;
  margin-top: 110px;
}

.heading-primary {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.heading-secondary {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.heading-secondary-no-margin {
  font-size: 3rem;
}

.heading-tetriary {
  font-size: 2.2rem;
  line-height: 1.1;
  margin-bottom: 0.6rem;
}

.currencies {
  width: 30%;
  position: absolute;
  border-radius: 9px;
  font-size: 2.4rem;
  padding: 0.6rem 1.2rem;
  right: 5rem;
  top: 15rem;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(66, 68, 90, 0.6);
  -moz-box-shadow: 3px 3px 10px 0px rgba(66, 68, 90, 0.6);
  box-shadow: 3px 3px 10px 0px rgba(66, 68, 90, 0.6);
}

.summary {
  padding: 1.6rem;
  border-radius: 9px;
  width: 35%;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 0.75);
  -moz-box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 0.75);
  box-shadow: 4px 4px 16px 0px rgba(66, 68, 90, 0.75);
  position: relative;
}

.chart-container {
  width: 90%;
  margin: 0 auto;
}

.buy-panel {
  background-color: #eee;
  padding: 1rem;
  border-radius: 9px;
  font-size: 2rem;
  margin-bottom: 3rem;
  -webkit-box-shadow: 3px 3px 16px 0px rgba(66, 68, 90, 0.75);
  -moz-box-shadow: 3px 3px 16px 0px rgba(66, 68, 90, 0.75);
  box-shadow: 3px 3px 16px 0px rgba(66, 68, 90, 0.75);
}

.buy-panel-row {
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}

.buy-panel label {
  margin-right: 30px;
}

.buy-panel input,
.buy-panel select {
  margin-left: 10px;
}

.buy-panel button,
.interval-btns button {
  background-color: #e67e22;
  color: white;
  padding: 7px 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1.6rem;
}

.interval-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.interval-btns button {
  padding: 6px 10px;
  font-size: 1.2rem;
}

.interval-btns button:hover,
.buy-panel button:hover {
  background-color: #cf711f;
}

.modal-entry {
  width: 50%;
  margin-top: 20px;
  display: inline-block;
}

.modal-entry input {
  width: 70%;
}