table {
    width: 100%;
    font-size: 1.8rem;
    border-collapse: collapse;
    border-radius: 9px;
    border-style: hidden;
    -webkit-box-shadow: 6px 6px 20px 0px rgba(66, 68, 90, 0.75);
    -moz-box-shadow: 6px 6px 20px 0px rgba(66, 68, 90, 0.75);
    box-shadow: 6px 6px 20px 0px rgba(66, 68, 90, 0.75);
    overflow: hidden;
    transition: all 0.3s;
}

table:hover {
  -webkit-box-shadow: 6px 6px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 6px 6px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 6px 6px 24px 0px rgba(66, 68, 90, 1);
  transition: all 0.3s;
}

table th {
    background-color: #e67e22;
}

table tr:nth-child(odd) {
    background-color: #eee;
}

table tr:hover {
  background-color: #fdf2e9 !important;
}

table th, .table td {
    padding: 0.5rem;
    text-align: center;
}

#modal {
  width: 70%;
  padding: 2.2rem 1.6rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 20px;
  border-radius: 20px;
  scrollbar-width: none;
  border: 1px solid #666;
}

#modal::-webkit-scrollbar {
  display: none;
}

#modal::backdrop {
  background-color: rgba(0,0,0,0.7);
}

input[type="number"], input[type="date"], select {
  border-radius: 6px;
  border: 1px solid #666;
  font-size: 1.8rem;
  font-family: inherit;
  padding: 0.2rem 0.5rem;
  margin-right: 1.1rem;
  width: 125px;
}

input[type="date"] {
  text-align: right;
}

.controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

  .modal-btn, .btn-edit {
    width: 3rem;
    height: 3rem;
    font-weight: 500;
    font-size: 2.4rem;
    border: none;
    border-radius: 10px;
    margin-left: 1rem;
    cursor: pointer;
  }
  .btn-edit {
    border: 1px #666 solid;
  }

  .modal-btn-cross {
    background-color: rgb(255, 56, 56);
  }
  .modal-btn-cross:hover {
    background-color: rgb(231, 44, 44);
  }
  .modal-btn-tick {
    background-color: rgb(93, 188, 93);
  }
  .modal-btn-tick:hover {
    background-color: rgb(62, 165, 62);
  }
  .modal-btn-bin:hover, .btn-edit:hover {
    background-color: rgb(232, 232, 232);
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }